@model PostcodeViewModel

@{
    ViewData["Title"] = "PlotBox Tech Ex";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="text-center">
    <img src="~/images/plotbox_logo.png" />
    <h1 class="display-4">Developer Technical Exercise</h1>
    <p>Use postcodes.io API to search a postcode and return geographical data</p>
</div>

<div class="input-group input-group-sm">
    <form method="post" class="form-inline mb-3 mx-auto">
        <label for="postcode" class="mr-sm-2">Enter Postcode:</label>
        <input type="text" name="postcode" id="postcode" class="form-control mb-2 mr-sm-2" required />
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>
</div>

@if (Model.ShowResults)
{
    <div class="text-center col-xs-12">
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <div class="alert alert-danger" role="alert" style="border-radius: 25px;">
                @Model.Error
            </div>
        }
        else if (!string.IsNullOrEmpty(Model.Postcode))
        {
            <div class="text-centre">
                <p><strong>Postcode:</strong> @Model.Postcode</p>
                <p><strong>Country:</strong> @Model.Country</p>
                <p><strong>Admin District:</strong> @Model.Admin_District</p>
                <p><strong>Longitude:</strong> @Model.Longitude</p>
                <p><strong>Latitude:</strong> @Model.Latitude</p>
                <p><strong>Eastings:</strong> @Model.Eastings</p>
                <p><strong>Northings:</strong> @Model.Northings</p>
            </div>
        }
    </div>
    
}